page-flowers {
  .grid-full ion-col {
    flex: 0 0 50%;
    max-width: auto;
    max-height: 50%;
    text-align: center;
    color:white;

   
  }


  ion-card {
    position: relative;
    text-align: center;
    border: 2px solid peru;
    box-shadow: 10px 10px 5px grey;
  }

 

 


  ion-select{
    width: 23% ;
  max-width: 23%;
  display: flex;
  overflow: hidden;
  font-size: 7pt;
  font-stretch: expanded;
  text-align: center;
 
}
ion-label{
width: auto;
height: auto;
margin: auto; 
font-stretch: expanded;
text-align: center;
align-content: center ;
}

ion-badge{
  position: absolute;
        top: -3px;
        right: -3px;
        border-radius: 100%;
        font-size: 8pt;
}

.container {
  text-align: center;
  border: 2px solid peru
}

.container img {
object-fit: cover;
height: -webkit-fill-available;

}


.product{
background-color: peru;
height: auto;
text-align: center;
padding: 6pt;
font-size: 10px;
font-weight: bold;
}

.col{
  background-color: white;
 // border: 0.5px solid #b1925a;
  padding: 0px;
  margin: 0px;
  }

}
