page-intro-screen {
.background{
    background-image: url(../assets/imgs/splashscreen_arabic.png);
    background-size: cover;
}

.row{
    margin-left: auto;
    margin-right: auto;
}

.btn1{
  flex: auto;
  width: 5%;
  padding: 10pt;
  margin: 10pt;
  color: floralwhite;
  outline: floralwhite;
  box-shadow:black;
}
}
