page-sign-in {
    .loginlogo {
        img {
        height: auto !important;
        width: auto !important;
        align-content: center;
        }
        }

        ion-row{
            height: auto !important;
            width: auto !important;
            align-content: center;
        }

        .btn1{
            margin-left: auto;
            color: gray;
            font-size: 8pt;
            font-weight: lighter;
            text-decoration: underline;
        }
        .btn2{
            margin-right: auto;
            color: gray;
            font-size: 8pt;
            font-weight: lighter;
            text-decoration: underline;
        }
}
