page-shopping-cart {
    .lbl{
        width: auto;
        height: auto;
        margin-top: 50pt;
        font-size: 20pt;
        font-stretch: expanded;
        text-align: center;
        align-content: center ;
        }
}
