<ion-header>

  <ion-navbar color="primary">
   

    <ion-buttons right>
      <button ion-button icon-only (click)="share()">
          <ion-icon ios="ios-share-outline" md="md-share" ></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{name}}</ion-title>

  </ion-navbar>



</ion-header>


<ion-content>

  <div class="header-banner">
    <ion-slides pager="true" options="{pagination: true}" autoplay="5000" loop="true" speed="500" *ngFor="let product of productInfo">
      <ion-slide *ngFor="let image of product.images">
        <img class="img" height="100 px" width="100 px" [src]="image.src">
      </ion-slide>
    </ion-slides>
  </div>

  <div  class="price-bar"  *ngFor="let product of productInfo">


      <ion-row justify-content-center align-items-center style="height: 100%">
         

          <button ion-button icon-only (click)="up()">
              <ion-icon ios="ios-arrow-dropup" md="md-arrow-dropup"></ion-icon>
          </button>
          {{count}} 
          <button ion-button icon-only (click)="dwon()">
              <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
          </button>
          <ion-col width-50>
              {{count*product.price}} SR
          </ion-col>
          <ion-col width-50>
           
                <button #myButton ion-button icon-only (click)="toggleIcon()">
                    <ion-icon [name]="buttonIcon"></ion-icon>
                  </button>
           
          </ion-col>

          <button ion-button icon-only (click)="addtoCart()">
              <ion-icon ios="ios-basket" md="md-basket"></ion-icon>
          </button>
      </ion-row>


    
  </div>

  
 

  <div class="textdes">
    <p  class="text" *ngFor="let product of productInfo">
      {{product.full_description}}
    </p>
  </div>



  <ion-list>
      <ion-item *ngFor="let product of relatedProducts">
        <ion-thumbnail  item-start>
          <img *ngFor="let image of product.images" [src]="image.src">
        </ion-thumbnail>
        <h2>{{product.name}}</h2>
        <p>{{product.price}} SR</p>
        <button ion-button clear item-end (click)="goRelatedProduct(product.id,product.name)">{{ 'VIEW' | translate }}</button>
      </ion-item>
    </ion-list>



</ion-content>