page-product-info {
    .header-banner{
		
        height:200px;
        min-height:300px;
        
	}

	.slide-zoom {
		// height:200px;
        height: 100%;
        width: 100%;
		// overflow:hidden;
    }
    ion-slides {
        height: 300px;
        width: 100%;
       
     }

     .img{
        width: 100vw;
        overflow: visible;
        width: 100%;
     }
     .text{
         text-align: center;
         text-decoration: olive;
         text-decoration-style: solid;
         text-overflow: clip;
     }

     .price-bar{
         width: 100vw;
         height: 40pt;
         background: #b1925a;
         text-align: center;
         color:oldlace
     }

     .textdes{
         padding: 3pt;
         font-family: Arial, Helvetica, sans-serif;
         font-size: 9pt;
         color: dimgray;
        }

     .numcounter{
         color: black;
     }
    

     .relatedhedder {
        color: #b1925a;
        font-weight: bold;
        text-align: center;
     }
 
    

     

     .trans{
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
     }
   
     .price{
         font-size: 10pt;
     }

   
     .cartbutton{
        margin-right: 15px;
     }

     .bg{
        background-image: url(../assets/imgs/floarbg.png);
        background-size: cover;
        height: 50%;
     }

     .trans{
        border-color: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        color: white; 
     }
     .item{
        margin:5px auto;
        border-top: 0px;
      }

      .prepare{
          background-color:#4C4B4B;
          text-align: center;
          color: floralwhite;
          padding-top: 3pt;
          padding-bottom: 2pt;

      }

      .giftcard{
          background-color:lightgray;
          border: 2px solid #b1925a;
          padding: 3pt;
      }

      .photo-border {
        border: 2px solid peru

      }

   
      .giftcardbtn{
         align-content: space-around;
         background-color: gainsboro;
         margin-left: auto;
         margin-right: auto;
         font-weight: bold;

      }
}
