page-discounted-products {
    .grid-full ion-col {
        flex: 0 0 50%;
        max-width: auto;
        max-height: 50%;
        text-align: center;
      }

      ion-card {
        position: relative;
        text-align: center;
        border: 2px solid peru
      }
    
     
      

     
      .image1{
          position: absolute;
          width: 40pt;
      }
    
      ion-select{
       
        max-width: 100%;
        margin-left: auto;
        text-align: center;
      }

      ion-option{
        max-width: 100% !important;
        padding: 3pt;
        text-align: center;
      }

      ion-label{
        text-align: center;
        margin-top: 100pt;
    }

    .product{
      background-color: peru;
      height: auto;
      text-align: center;
      padding: 6pt;
      font-size: 10px;
      font-weight: bold;
      color: white;
    }

    .col{
      background-color: white;
   //   border: 0.5px solid #b1925a;
      padding: 0px;
      margin: 0px;
      }

}
