page-home {
    .grid-full ion-col {
        flex: 0 0 50%;
        max-width: auto;
        max-height: 50%;
        text-align: center;
       
      }


      ion-card {
        position: relative;
        text-align: center;
        border: 2px solid peru
      }
    
      .card-title {
        position: absolute;
        top: 80%;
        font-size: 1.0em;
        width: 100%;
        font-weight: bold;
        border-radius: 5px;
        background-color: rgb(0, 0, 0);
        opacity: 0.6;
        color: #ffff;
      }
    
      .card-subtitle {
        font-size: 0.8em;
        position: absolute;
        top: 80%;
        width: 100%;
        color: #fff;
      }


      ion-select{
        width: 23% ;
      max-width: 23%;
      display: flex;
      overflow: hidden;
      font-size: 7pt;
      font-stretch: expanded;
      text-align: center;
     
    }
    ion-label{
    width: auto;
    height: auto;
    margin: auto; 
    font-stretch: expanded;
    text-align: center;
    align-content: center ;
    }

    ion-badge{
      position: absolute;
            top: -3px;
            right: -3px;
            border-radius: 100%;
    }





   
}
