<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{ 'PAGE_TITLE.home' | translate }}
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only menuToggle>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons (click)="goShoppingCartPage()" left>
      <button ion-button icon-only>
        <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
        <ion-badge color="danger">{{badgeValue}}</ion-badge>
      </button>
    </ion-buttons>

    <ion-buttons (click)="onButtonClick()" left>
      <button ion-button icon-only>
        <ion-icon ios="ios-funnel-outline" md="md-funnel"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

  <ion-searchbar placeholder="{{'search' | translate}}" color="primary" [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel"
    (ionInput)="filter()" (ionCancel)="onCancel($event)">
  </ion-searchbar>






</ion-header>
<ion-content class="grid-full">
  <div *ngIf="buttonClicked" type="text" value="" class="giftcard">
    <ion-item>
      <ion-select placeholder="{{ 'CAT' | translate }}" interface="popover" [(ngModel)]="cat">
        <ion-option *ngFor="let cat of categoriesList" (ionSelect)="setCategoryId(cat.id)">{{cat.name}}</ion-option>
      </ion-select>


      <ion-select placeholder="{{ 'VINDOR' | translate }}" interface="popover" [(ngModel)]="vendor">
        <ion-option *ngFor="let vendor of viendorsList">{{vendor.name}}</ion-option>
      </ion-select>

      <ion-select placeholder="{{ 'NHOOD' | translate }}" interface="popover" [(ngModel)]="district">
        <ion-option *ngFor="let dis of districtsList">{{dis.name}}</ion-option>

      </ion-select>


      <ion-select placeholder="{{ 'CITY' | translate }}" interface="popover" [(ngModel)]="City">
        <ion-option *ngFor="let city of citiesList" (ionSelect)="getDistricts()" (ionSelect)="setCityid(city.id)" (ionSelect)="getVendors()">{{city.name}}</ion-option>
      </ion-select>

      <ion-select placeholder="{{ 'COUNTRY' | translate }}" interface="popover" [(ngModel)]="cntry">
        <ion-option *ngFor="let country of countriesList" (ionSelect)="getCities(country.id)" (ionSelect)="setCntryId(country.id)">{{country.name}}</ion-option>
      </ion-select>

    </ion-item>

    <button left ion-button small (click)="filter()"> {{ 'BUTTONS.btn_filter' | translate }}</button>
  </div>
  <ion-label *ngIf="productsList.length === 0">{{ 'EMPTY' | translate }}</ion-label>




  <ion-grid>
    <ion-row>
      <ion-col col-6 col-md-4 col-xl-3 *ngFor="let product of productsList" >
        <ion-card class="block">
          <img (click)="goProductInfo(product.id,product.name)" height="200 px" width="200 px" *ngFor="let image of product.images"
          [src]="image.src" />
          <div  class="product">
              <ion-icon ios="ios-pricetags" md="md-pricetags"></ion-icon> 
            {{product.name}}
            {{ product.price }} SR
          </div>
          
          </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

 
</ion-content>