page-favorites {
    button{
        background: none !important;
        background-color: none !important;
        
      }

      .delico{
          color: peru;
      }

      ion-label{
          text-align: center;
      }
}
