<ion-header>
    <ion-navbar color="primary">
      <ion-title>
        {{ 'PAGE_TITLE.plnts' | translate }}
      </ion-title>
      <ion-buttons right>
        <button ion-button icon-only menuToggle>
          <ion-icon name='menu'></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons left>
          <button ion-button icon-only (click)="goShoppingCartPage()">
              <ion-icon ios="ios-cart" md="md-cart"></ion-icon>
              <ion-badge  color="danger">{{badgeValue}}</ion-badge>
          </button>
        </ion-buttons>
    </ion-navbar>
  </ion-header>
  <ion-content class="grid-full">
      
        <ion-row responsive-sm>
            <ion-col  *ngFor="let product of productsList" class="cell-1">
  
                <ion-card>
                    <img  (click)="goProductInfo(product.id,product.name)"  height="100 px" width="100 px" *ngFor="let image of product.images" [src]="image.src"/>
                    <div class="card-title">{{ product.price }} SR</div>
                  </ion-card>
                
            </ion-col>
          </ion-row>
  
  </ion-content>